body{
      background-image: url(mainback.jpg);
      background-size: cover;
      display: flex;
}
div{
    width: 100%;
      position:absolute;
      top: 45%;
      font-size: 30px;
      font-family:monospace;
      font-weight: bolder;
     text-align: center;
}
button{
      
      font-size: 30px;
      float:left;
      padding: 5px 12px;
      margin: 25px;
      border: none;
      background: khaki;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      
}
button:hover{
transform: translateY(-5px);
box-shadow: 0 10px 10px rgba(0,0,0,.3);
}
button:focus{
      outline: none;
      transform: translateY(0);
}