body{
      background-image: url(back.jpg);
      background-size: cover;
}
a{
      text-decoration: none;
      color: rgb(82, 78, 78);
}
fieldset {
  margin-top: 50px;
  margin-left: 130px;
  margin-right: 130px;
  text-align: center;
  border-radius: 10px;
}
legend{
      font-size: 25px;
      font-family: monospace;
      font-weight: bolder;
}
div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}
label{
      font-size: 20px;
      font-family: 'Trebuchet MS';
}
input{
      border-radius: 8px;
      border-top: none;
      border-color: rgb(124, 150, 9);
      font-size: 15px;
      font-weight: bolder;
      transition: 0.3s;
      padding: 3px;
    
}
input:focus{
      outline: none;
}
input:hover{
      border-top:outset ;
      border-color:  rgb(221, 245, 115);
      cursor: pointer;
      transform: translateY(-2px);
}
button{
      padding: 10px 18px;
      margin: 10px;
      font-family: 16px;
      letter-spacing:1px ;
      border: 2px solid #ffc107;
      color:rgb(126, 122, 122);
      cursor: pointer;
      background: linear-gradient(to right,transparent 50%, #ffc107 50%);
      background-size: 200%;
      background-position: left;
      transition: background-position 0.5s;
}
button:hover{
      background-position: right;
      color: black;
}
button:focus{
      outline: none;
}
#user{
width: 200px;
}

#pass{
width: 200px;
}